:root {
  --lightmain: #fed0bb;
  --darkmain: #fcb9b2;
  --lightcontrast: #8c2f39;
  --darkcontrast: #461220;
}

* {
  font-family: "PT Serif", serif;
}

.create-button {
  position: absolute;
  top: 90vh;
  left: 95vw;
  border-radius: 10rem;
}
