:root {
  --lightmain: #a8e0c8;
  --darkmain: #60947d;
  --lightcontrast: #e0b0a8;
  --darkcontrast: #945b51;
}

html,
body {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 719px) {
  :root {
    --create-btn-spacing-h: 85vw;
    --create-btn-spacing-v: 60vh;
  }
}

@media screen and (min-width: 720px) {
  :root {
    --create-btn-spacing-h: 93vw;
    --create-btn-spacing-v: 20vh;
  }
}
/* Maybe change the variables if the height changes as well (smaller screen the edit btn id mid way
  maybe it will change when the content is added? ) */

* {
  font-family: "Ubuntu", serif;
}

hr {
  color: gray;
  border-style: inset;
  border-width: 1px;
  margin: 0 0;
}

.create-button {
  position: fixed;
  top: var(--create-btn-spacing-v);
  left: var(--create-btn-spacing-h);
  z-index: 1;
}

.mdc-top-app-bar--fixed.myNav {
  background-color: var(--darkmain);
}

.my-card__media {
  background-image: url(http://getwallpapers.com/wallpaper/full/2/5/4/727006-best-windows-xp-desktop-backgrounds-3840x2160.jpg);
  width: 75vw;
}

.mdc-fab.edit {
  background-color: var(--darkmain);
}

.myCard {
  margin: auto;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
  padding-right: 15rem;
  justify-self: center;
  align-self: center;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardText {
  margin: auto;
  padding: 2vw;
  color: var(--darkcontrast);
}

.addBtn {
  position: sticky;
  bottom: 0px;
  right: 0px;
}
